// Custom Property ---------------
:root {
  // Setting Color Propery
  --clr-primary-300: #d1faff;
  --clr-primary-400: #00b4cc;
  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #00262b;
  // Setting Font Property
  --ff-primary: 'Poppins', sans-serif;
  --ff-accent: 'Serif';
}

// RESET GLOBAL CSS ---------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

//Font Property ---------------
body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
  font-weight: 600;
  line-height: 1;
}

// Layouting ------------------
section {
  padding: 4rem 0;
}

.container {
  border: 2px solid red;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

.bg-light {
  background-color: var(--clr-primary-300);
}

.bg-white {
  background-color: var(--clr-neutral-100);
}

.bg-dark {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.bg-primary {
  background-color: var(--clr-primary-400);
}

img {
  display: none;
}
